// Specific CSS for your home-page
.home-page {
  position: relative;
}

.menu-cont {
  top: 0vh;
  position: relative;
  left: 0;
  width: 25vw;
  height: 68vh;
  background-color: #FFFFFF;
  color: #00020c;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-items: center;
  font-size: 2em;
  box-shadow: 1px 0px 0px rgba(0,0,0,0.2);
  border: white 1px solid;
  font-family: 'Oswald', sans-serif;
}

.menu-action {
  width: 100%;
  height: 50%;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-action {
  font-size: 18px;
  letter-spacing: 2px;
}

.action-card {
  position: relative;
  color: #000;
  text-decoration: none;
  &:hover {
    color: #000;
    cursor: pointer;
  }
  &:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}





















