<div class="footer">
  <div class="social-media-links">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/alicia-gaborit-52476481/" target="_blank">
          <i class="fab fa-linkedin-in">
          </i>
        </a>
      </li>
      <!-- <li>
        <a href="https://www.instagram.com/ali_gbt_/" target="_blank">
          <i class="fab fa-instagram">
          </i>
        </a>
      </li> -->
      <li>
        <a href="https://dribbble.com/AliciaViolette" target="_blank">
          <i class="fab fa-dribbble">
          </i>
        </a>
      </li>
      <li>
        <a href="https://www.malt.com/profile/aliciagaborit?q=alicia%20gaborit&searchid=5e289836e4112700090f4d9f" target="_blank">
          <i class="fas fa-search-dollar">
          </i>
        </a>
      </li>
    </ul>
  </div>
  <div class="copyright">Copyright © 2019 Alicia Gaborit <br>
      All rights reserved.
  </div>
</div>
